<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greska</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Desila se greska prilikom vase aktivnosti.</h2>
    </hgroup>
</body>
</html>
